.header {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-section {
    background-color: aquamarine;
    width: 150px;
}
.middle-section {
    background-color: blueviolet;
    flex: 1;
    margin-left: 70px;
    margin-right: 50px;
    max-width: 300px;
}
.right-section {
    background-color: aquamarine;
    width: 200px;
}

input.search-bar {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }